@(appts: List[models.appointment.Appointment])

@import helper._

@title = {
    Appointments
}

@main(title, nav = "signedin") {   
<!--ul class="nav nav-pills">
	<li role="presentation" class="view-unconfirmed active"><a href="#">Unconfirmed</a></li>
	<li role="presentation" class="view-confirmed"><a href="#">Confirmed</a></li>
</ul-->
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Start</th>
				<th>End</th>
				<th>Patient</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		@if(appts == null || appts.isEmpty()){			
			<tr class=""></tr>
		} else {
			@for(appt <- appts){
			<tr class="@(" confirmed".when(appt.getDoctor()!=null)) @(" unconfirmed".when(appt.getDoctor()==null))">
				<td data-date="@appt.getStartTime().getMillis()"></td>
				<td data-time="@appt.getStartTime().getMillis()"></td>
				<td data-time="@appt.getEndTime().getMillis()"></td>
				<td>@appt.getPatient().getFullName()</td>
				<td><a href="@controllers.doctor.appointments.routes.DoctorAppointmentControl.attachDoctorToAppointment(appt.getId())" class="btn btn-primary">Accept</a></td>
			</tr>
			}
		}
		</tbody>
	</table>
</div>
<script>
$(document).ready(function(){
	@views.html.common.appointment.listViewControl()
});
</script>
}