@main(Html("Akira Challenge")) {
    
    <h2>Scheduler</h2>
    
    <p>
        Demonstrate sample scheduling for patients and doctors.
    </p>
    
    <p>
        <a class="btn" href="@routes.SignIn.blank">Sign In »</a>
    </p>
    
    
}