@(appts: List[models.appointment.Appointment], docForm:DynamicForm)

@import helper._
@import models.role.provider._

@title = {
    Welcome!
}

@main(title, nav = "signedin") {   

@if(docForm.hasErrors || docForm.hasGlobalErrors()){
<div class="col-xs-12 text-align-center error">@docForm.globalError().message()</div>
}

<ul class="nav nav-pills">
	<li role="presentation" class="view-all active"><a href="#">All</a></li>
	<li role="presentation" class="view-confirmed"><a href="#">Confirmed</a></li>
	<li role="presentation" class="view-unconfirmed"><a href="#">Unconfirmed</a></li>
</ul>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Start</th>
				<th>End</th>
				<th>Patient</th>
				<th>Doctor</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@if(appts == null || appts.isEmpty()){			
			<tr class=""></tr>
		} else {
			@for(appt <- appts){
			<tr class="@(" confirmed".when(appt.getDoctor()!=null)) @(" unconfirmed".when(appt.getDoctor()==null))">
				<td data-date="@appt.getStartTime().getMillis()"></td>
				<td data-time="@appt.getStartTime().getMillis()"></td>
				<td data-time="@appt.getEndTime().getMillis()"></td>
				<td>@appt.getPatient().getFullName()</td>
				@if(appt.getDoctor()!=null){
				<td>@appt.getDoctor().getFullName()</td>
				<td><a href="@controllers.admin.appointments.routes.AdminAppointmentControl.removeDoctorFromAppointment(appt.getId())" class="btn btn-warning">Dettach</a></td>
				} else {				
				<td>
					@helper.form(action = controllers.admin.appointments.routes.AdminAppointmentControl.attachDoctorToAppointment(appt.getId()), 'class->"doctor-dropdown") {
						@if(DoctorFinder.findAvailableDoctorsForAppointment(appt).isEmpty()){
					No doctors available
						} else {
					<select name="doctorId" required>
						<option></option>
							@for(doc <- DoctorFinder.findAvailableDoctorsForAppointment(appt)){
						<option value="@doc.getId()">@doc.getFullName()</option>
							}
					</select>
						}
					}
				</td>
				<td></td>
				}
			</tr>
			}
		}
		</tbody>
	</table>
</div>
<script>
$(document).ready(function(){
	$(".doctor-dropdown").each(function(){
		var self = this;
		$(self).find('select').change(function(){
			$(self).submit();
		});
	});
	@views.html.common.appointment.listViewControl()
});
</script>
}