@(appts: List[models.appointment.Appointment], timeForm:DynamicForm)

@import helper._
@title = {
    Appointments
}

@main(title, nav = "signedin") {

<div class="col-xs-12 top-bottom-padding-10px">
	@if(timeForm.hasErrors || timeForm.hasGlobalErrors()){
	<div class="col-xs-12 text-align-center error">@timeForm.globalError().message()</div>
	}
	<div class="col-xs-12">
		<div class="col-xs-5"><span>I want an appointment at </span><input type="text" id="timepick" class="form-input-text"><span>  in</span></div>
		@helper.form(action = controllers.patient.appointments.routes.PatientAppointmentControl.newAppointment()) {
		<div class="col-xs-3"><input type="number" name="days" min="1" max="3" step="1" value="1"><span>  day(s) for</span></div>
		<div class="col-xs-3"><input type="number" name="duration" min="10" max="120" step="5" value="10"><span>  minutes</span></div>
		<div class="col-xs-2 hidden" ><input type="number" name="time" id="timeInMillis"></div>
		<div class="col-xs-2 hidden" ><input type="number" name="maxTime" id="maxTime"></div>
		<div class="col-xs-1"><input type="submit" class="btn btn-success" value="Book!"></div>
		}
	</div>
</div>
<ul class="nav nav-pills">
	<li role="presentation" class="view-all active"><a href="#">All</a></li>
	<li role="presentation" class="view-confirmed"><a href="#">Confirmed</a></li>
	<li role="presentation" class="view-unconfirmed"><a href="#">Unconfirmed</a></li>
</ul>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Start</th>
				<th>End</th>
				<th>Patient</th>
				<th>Doctor</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@if(appts == null || appts.isEmpty()){			
			<tr class=""></tr>
		} else {
			@for(appt <- appts){
			<tr class="@(" confirmed".when(appt.getDoctor()!=null)) @(" unconfirmed".when(appt.getDoctor()==null))">
				<td data-date="@appt.getStartTime().getMillis()"></td>
				<td data-time="@appt.getStartTime().getMillis()"></td>
				<td data-time="@appt.getEndTime().getMillis()"></td>
				<td>@appt.getPatient().getFullName()</td>
				@if(appt.getDoctor()!=null){
				<td>@appt.getDoctor().getFullName()</td>
				<td></td>
				} else {
				<td></td>
				<td><a href="@controllers.patient.appointments.routes.PatientAppointmentControl.cancelAppointment(appt.getId())" class="btn btn-warning">Cancel</a></td>
				}
			</tr>
			}
		}
		</tbody>
	</table>
</div>
<script>
$(document).ready(function(){
	$("#timepick").timepicker({
		'timeFormat' : 'h:i A',
		'minTime': '8:00 AM',
		'maxTime': '8:50 PM',
		'step': 5,
		'useSelect':true
	});
	var maxTime = $("#timepick").timepicker('getTime');
	maxTime.setHours(21); //9PM
	maxTime.setMinutes(0);
	maxTime.setSeconds(0);
	maxTime.setMilliseconds(0);
	
	$('#maxTime').val(maxTime.getTime());
	$('#timeInMillis').val($("#timepick").timepicker('getTime').getTime());
	$("#timepick").change(function(){
		$('#timeInMillis').val($("#timepick").timepicker('getTime').getTime());
	});
	
	@views.html.common.appointment.listViewControl()
});
</script>
}