@(signinForm: Form[models.account.UserForm])

@import helper._

@title = {
    Welcome!
}

@main(title, nav = "signin") {
    
    @helper.form(action = routes.SignIn.submit) {
        <div class="col-xs-12">
	        <fieldset>
	        	@if(signinForm.hasGlobalErrors()){
	        	<legend style="color:red">@signinForm.globalError().message()</legend>
	        	} else {
	        	<legend >Sign In</legend>
	        	}
	            @inputText(
	                signinForm("email"), '_label -> "Email"
	            )
	            @inputPassword(
	                signinForm("password"), 
	                '_label -> "Password"
	            )            
	        </fieldset>     
	        <div class="actions">
	            <input type="submit" class="btn btn-primary" value="Sign In">
	            <a href="@routes.Application.index" class="btn">Cancel</a>
	        </div>
        </div>
        
    }
    
}